#hero {
  text-align: center;
  padding-top: 4rem;

  & img[src*="music-bars"] {
    width: 12.875rem;
    height: 3.25rem;
  }

  & h1 {
    margin-block: 1rem 0.5rem;
  }

  & span {
    font: var(--fw-md) 1.25rem/1.4 var(--ff-sans);
    color: var(--text-color-secondary);
  }

  .buttons-wrapper {
    margin-top: 2rem;
  }
}

@media (width >= 80em) {
  #hero {
    padding-top: 5rem;  
    padding-bottom: 15rem;
    background: url(../assets/hero-bg-desktop.svg) no-repeat bottom center/contain;

    & img[src*="music-bars"] {
      width: 25.75rem;
      height: 6.5rem;
    }

    & h1 {
      margin-block: 1.5rem 1rem;
    }

    & span {
      font-size: 2.5rem;
      color: var(--text-color-secondary);
    }

    .buttons-wrapper {
      margin-top: 3rem;
    }
  }

}